<?xml version="1.0" encoding="UTF-8"?>
<ruleset>
    <file>./src/</file>
    <file>./fau-degree-program.php</file>
    <file>./templates</file>
    <file>./tests/php</file>

    <arg value="sp"/>
    <arg name="colors"/>
    <config name="testVersion" value="8.0-"/>
    <config name="text_domain" value="fau-degree-program"/>
    <config name="ignore_warnings_on_exit" value="1"/>

    <rule ref="Inpsyde">
        <exclude name="WordPress.WP.I18n.MissingArgDomain" />
    </rule>

    <rule ref="Inpsyde.CodeQuality.Psr4">
        <properties>
            <property
                    name="psr4"
                    type="array"
            >
                <element key="Fau\DegreeProgram" value="src"/>
                <element key="Fau\DegreeProgram\Tests" value="tests/php/use-case|tests/php/functional"/>
                <element key="Fau\DegreeProgram\Common\Tests" value="vendor/rrze/fau-studium-common/tests/src"/>
            </property>
        </properties>
    </rule>

    <rule ref="VariableAnalysis.CodeAnalysis.VariableAnalysis.UndefinedVariable">
        <exclude-pattern>*/templates/*</exclude-pattern>
    </rule>

    <rule ref="Inpsyde.CodeQuality.NoElse.ElseFound">
        <exclude-pattern>*/templates/*</exclude-pattern>
    </rule>

    <exclude-pattern>*/vendor/*</exclude-pattern>
</ruleset>
