* {
  box-sizing: border-box;
}

// Hide "Details" icon in the edit post header
.edit-post-header-toolbar__left .components-dropdown.table-of-contents {
  display: none;
}

.editor-styles-wrapper .edit-post-visual-editor__post-title-wrapper > :where(:not(.alignleft):not(.alignright):not(.alignfull)),
.editor-styles-wrapper .block-editor-block-list__layout.is-root-container > :where(:not(.alignleft):not(.alignright):not(.alignfull)) {
  max-width: none !important;
}

.edit-post-visual-editor__post-title-wrapper {
  padding-right: var(--wp--style--root--padding-right);
  padding-left: var(--wp--style--root--padding-left);
}

.block-editor-block-list__layout .block-editor-block-list__block:not([contenteditable]):focus::after {
  content: none;
}

.editor-styles-wrapper h5 {
  text-transform: none!important;
}

.editor-post-featured-image__preview img {
  margin-left: unset;
}

.editor-post-featured-image .components-button + .components-button {
  display: inline-block;
}

.components-button.block-editor-media-placeholder__cancel-button.is-link {
  margin-top: 0;
  margin-bottom: 12px;
}

.edit-post-visual-editor .components-button.has-icon.components-form-token-field__remove-token {
  padding: 0;
}

// Credit: https://codepen.io/chris__sev/pen/mdrzYQE
@keyframes shine {
  to {
    background-position-x: -200%;
  }
}

.loader-card {
  background: #eee;
  background: linear-gradient(110deg, #ececec 8%, #f5f5f5 18%, #ececec 33%);
  background-size: 200% 100%;
  animation: 1.5s shine linear infinite;
  overflow: hidden;
}

.components-tab-panel__tabs-item {
  position: relative;

  &.is-empty {
    &::after {
      mask-image: url(../../../svg/empty-set.svg);
      background-color: #717171;
      border-radius: 100%;
      display: inline-block;
      margin-left: 3px;
      visibility: visible;
      width: 1em;
      height: 1em;
    }

    small {
      color: #717171;
    }
  }
}

label[class^="components-"][class*="__label"],
span[class^="components-"][class*="__label"] {
  text-transform: none !important;
  font-size: 14px !important;
}

.components-base-control__field,
.components-form-token-field__input-container {
  margin-bottom: 0 !important;
}
